.carouselContainer {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  & {
    -ms-overflow-style: none;
  }
  scrollbar-width: none;
}